# --- Python caches ---
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Virtualenvs ---
.env
/venv
.venv


# --- Packaging / build ---
build/
dist/
*.egg-info/
.eggs/

# --- IDE ---
.vscode/
.idea/
.DS_Store


# --- Logs ---
*.log

# --- Nginx ---
nginx/auth/.htpasswd
